@import "resources/sass/admin/variables";


.app-frame {
    display: flex;
    flex-direction: column;

    .app-body {
        display: flex;

        .drawer {
            width: $sidebar-width;
            flex-shrink: 0;

            .app-menu-bar {
                width: $sidebar-width;
            }

        }

        .content {
            width: 100%;
            flex-grow: 1;
            padding: $admin-base-gap-size * 3;
        }
    }
}
