@import "resources/sass/admin/variables";
.app-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
    flex-wrap: wrap;
    top: 0;
    height: $header-height;
    .title {
        flex-grow: 1;
    }

}
