$search-box-gap-size: 8px;

$base-background-color: #f2ede7;

$primary-50: #e8eaf6;
$primary-100: #c5cbe9;
$primary-200: #9fa8da;
$primary-300: #7985cb;
$primary-400: #5c6bc0;
$primary-500: #3f51b5;
$primary-600: #394aae;
$primary-700: #3140a5;
$primary-800: #29379d;
$primary-900: #1b278d;
$primary-A100: #c6cbff;
$primary-A200: #939dff;
$primary-A400: #606eff;
$primary-A700: #4757ff;
$menubar-text-color: #454343;
